@tailwind base;

:root {
  --primary: rgba(0, 0, 0, .1);
  --secondary: #38BDF2;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

body{
  background-color: #E2E8F0;
}

.transparent{
    background-color: #0b1120;
}
 
.video-icon {
  font-size: 21rem;
}

.showPDF{
    width:83%; 
    height: 93.6vh; 
    margin-left: 17%;
    margin-top: 3rem;
}

@media(max-width:820px){

  .showPDF{
    width:83%; 
    height: 95.3vh; 
    margin-left: 31%;
    margin-top: 3.5rem;
}

  .video-icon {
    font-size: 11rem;
    left: 5%;
  }

  /* SECONDARY NAVBAR */
  .link-hover:hover{
    background-color: #1E293B;
  }

}

@media(max-width:450px){

  .showPDF{
    width:100vw; 
    height: 92.2vh; 
    margin-top: 4.1rem;
    margin-left: 0;
  }

}

