@tailwind base;

:root {
  --primary: rgba(0, 0, 0, .1);
  --secondary: #38BDF2;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

.transparent{
    background-color: rgba(0, 0, 0, 0.3);
}

@media(max-width:768px){

  /* SECONDARY NAVBAR */
  .link-hover:hover{
    background-color: #1E293B;
  }

}

